<!-- FOOTER -->
  <footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="social">
  <ul class="social-buttons">
    <li class="follow-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="bridgetown"  data-related="bridgetown" data-hashtags="bridgetowncomedy">Tweet</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/bridgetown" class="twitter-follow-button" data-show-count="false" >Follow @bridgetown</a>
    </li>
  </ul>
</div>


    <p>Designed and built by <a href="http://twitter.com/joshuabremer" target="_blank">@joshuabremer</a>.</p>
    <ul class="footer-links muted">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>路</li>
      <li>{{#link-to 'performers'}}Performers{{/link-to}}</li>
      <li>路</li>
      {{!-- <li>{{#link-to 'history'}}History{{/link-to}}</li>
      <li>路</li> --}}
      <li>{{#link-to 'press'}}Press{{/link-to}}</li>
      <li>路</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
  </div>
</footer>