
<div class="newspost" style="margin-top:50px;">
  <div class="newspost-content">
    <p>Submissions for the 2015 Bridgetown Comedy Festival, taking place May 7 - 10, are now open! Visit http://bridgetown.festivalthing.com to apply to perform as a standup comic or to submit your themed show or podcast for consideration. Submissions are open until February 1st, but if you apply by January 11th you save $5 off of the $25 submission fee, so put those videos together and show us what you've got!</p>
  </div>
</div>





