<div id="lg">
  <div class="container sponsors-container text-center">
    <h2>SPONSORED BY</h2>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <a target="_blank" href="http://squarespace.com/?channel=events&subchannel=comedy&source=bridgetown14"><img class="img-responsive" src="/img/sponsor-images/sponsor-squarespace-big.png" alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
        <a target="_blank" href="https://taximagic.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-taxi-magic-big.png" alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
        <a target="_blank" href="http://mailchimp.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-mailchimp-long.png?1" alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.portlandoldies.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-oldies.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.z100portland.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-z100.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.1059thebrew.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-brew.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.deschutesbrewery.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-deschutes.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://sizzlepie.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-sizzle-pie.png" alt=""></a>
      </div>

    </div><!-- row -->
  </div><!-- container -->
</div>