{{page-title-banner title="FAQs"}}

<div class="container main-content">
  <p><em>Can I buy individual show tickets?</em></p>

  <p>Yes! Well, sort of. We only sell full festival passes in advance. If you want to attend a single show, you can pay admission as you enter (doors open 30 minutes prior to showtime). This has always been Bridgetown’s policy in an attempt to avoid penalizing full weekend pass-holders. This way, no matter how popular a single show may be, those with festival passes and those who only want to attend one show have an equal chance at getting in by lining up beforehand.</p>

  <p>Note: Individual show tickets are only valid for a single show. They do not grant access for the following shows in the same venue.</p>

  <p><em>Are all shows 21 and over?</em></p>

  <p>All of the shows in this year's festival are 21 and over, with the exception of the free panel discussion with the authors of the The Humor Code taking place at 7pm on Thursday, May 8th at Powell's City of Books in conjunction with the Bridgetown Comedy Festival. If you purchased a festival pass in advance and you're under 21, please email info@bridgetowncomedy.com and we will gladly refund your order.</p>

  <p><em>So I bought a festival pass... what now? Where do I pick it up?</em></p>

  <p>If you bought a standard festival pass, Golden Ticket VIP pass or a Bridgetown Fantasy Camp pass, you will get a wristband to wear throughout the weekend that grants you admission to shows. To pick up your festival wristband, please bring a printout of your Laughtstub receipt, or show your receipt on your smartphone, or just show a picture ID at one of the following venues (ONLY DURING THE FESTIVAL -- these venues will only have will call for Bridgetown passes set up half an hour before shows begin):</p>

  <ul>
  <li><p>Doug Fir Lounge/Jupiter Hotel, 830 E. Burnside St.</p>

  </li>
  <li><p>Hawthorne Theatre, 1507 SE 39th Ave.</p>

  </li>
  <li><p>Alhambra Theater, 4811 SE Hawthorne Blvd.</p>

  </li>
  </ul>

  <p>This wristband is what grants admission to shows, and must be worn at all times. If you remove or lose your wristband, you will need to purchase a new one. </p>

  <p><em>Are tickets transferable?</em></p>

  <p>No. Your weekend wristband is meant to be worn by you and only you throughout the weekend. If you wish to transfer your ticket into someone else’s name<em>before </em>the festival, you may request to do so by emailing info@bridgetowncomedy.com</p>

  <p><em>What does my Golden Ticket VIP Pass get me?</em></p>

  <p>Your VIP Golden Ticket pass grants you front-of-the-line access to shows, a free Bridgetown T-shirt and admission to the pre-festival meet-and-greet. If you purchased a Golden Ticket, you will receive an email a week before the festival with information on this event via the email address you used when purchasing your pass.</p>

  <p><em>What does my Bridgetown Fantasy Camp Pass get me?</em></p>

  <p>Lucky you! You've got the most primo pass we've ever offered! Your pass gets you all of the perks of a Golden Ticket, plus four nights' stay at the Jupiter Hotel, the official hotel of the 2014 Bridgetown Comedy Festival, and admission to the performer-only parties taking place after shows end every night. We'll be contacting you with details a week before the festival via the email address you used when purchasing your pass.</p>

  <p><em>What about Tanker? What’s going on there?</em></p>

  <p>The Tanker will be hosting an open mic all weekend. The Tanker has played host to some of the most legendary performances in our seven-year history. Bridgetown performers may sign up for 3-5 minute sets.</p>

  <p><em>Do certain shows forbid late admittance?</em></p>

  <p>It is a good idea to get to shows early to ensure entry. Once a show has sold out, you will not be able to enter. There may be certain cases that require waiting until a natural break in the performance before late entry is allowed.</p>

</div>


