<div class="jumbotron jumbotron-color-1 jumbotron-page-header">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2 text-center">
      <div class="header-logo"><img class="img-responsive" src="/img/logo-long-inverse.png?1" /></div>
      {{!-- <h1>Bridgetown Comedy Festival 2014</h1> --}}
      <h3>Portland, OR</h3>
      <h3>May 7th - May 10th</h3>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->

<div class="main-content">
  <div class="container">
    <div class="row centered">
      <div class="col-sm-6">

      <h3> Tickets on sale!</h3>
        <h3>
          <a href="http://bridgetown2015.eventbrite.com" class="btn btn-primary btn-lg btn-block" target="_blank" style="white-space: normal">
          2015 Bridgetown Comedy Festival Passes!</a>
        </h3>

        <h3>
          <a href="https://www.ticketfly.com/purchase/event/796489" class="btn btn-primary btn-lg btn-block" target="_blank" style="white-space: normal">
          Dr. Katz, Professional Therapist LIVE tickets!</a>
        </h3>



        {{!partial "partials/news"}}
      </div><!-- col-lg-6 -->

      <div class="col-sm-6">
        <h3>@bridgetown</h3>
        <div class="panel panel-default">

          <div class="panel-body">

          {{partial "partials/recent_tweets"}}
          </div>
        </div>
      </div><!-- col-lg-6 -->
      <div class="clearfix"></div>
    </div><!-- row -->
    <br />
    <br />
  </div><!-- container -->



{{partial "partials/sponsors_front_page" }}
</div>