{{page-title-banner title="Press"}}

<div class="container main-content">
  <p>The Huffington Post</p>

  <p><a href="http://www.huffingtonpost.com/barbara-holm/why-the-world-needs-bridg_b_3047738.html" >http://www.huffingtonpost.com/barbara-holm/why-the-world-needs-bridg_b_3047738.html</a></p>

  <p>LaughSpin.com</p>

  <p><a href="http://www.laughspin.com/2013/04/19/bridgetown-comedy-festival-day-1-lance-bangs-megan-amram-moshe-kasher-and-more/" >http://www.laughspin.com/2013/04/19/bridgetown-comedy-festival-day-1-lance-bangs-megan-amram-moshe-kasher-and-more/</a></p>

  <p><a href="http://www.laughspin.com/2013/04/21/bridgetown-comedy-festival-day-2-dad-boner-ian-karmel-peter-serafinowicz-more/" >http://www.laughspin.com/2013/04/21/bridgetown-comedy-festival-day-2-dad-boner-ian-karmel-peter-serafinowicz-more/</a></p>

  <p><a href="http://www.laughspin.com/2013/04/21/bridgetown-comedy-festival-day-3-matt-braunger-kurt-braunohler-and-more/" >http://www.laughspin.com/2013/04/21/bridgetown-comedy-festival-day-3-matt-braunger-kurt-braunohler-and-more/</a></p>

  <p><a href="http://www.laughspin.com/2013/04/22/bridgetown-comedy-festival-day-4-theme-park-with-oscar-nunez-janet-varney-michael-hitchcock-natasha-leggero/" >http://www.laughspin.com/2013/04/22/bridgetown-comedy-festival-day-4-theme-park-with-oscar-nunez-janet-varney-michael-hitchcock-natasha-leggero/</a></p>

  <p><a href="http://www.laughspin.com/2013/04/19/bridgetown-comedy-festival-day-1-lance-bangs-megan-amram-moshe-kasher-and-more/%20http://www.laughspin.com/2013/04/21/bridgetown-comedy-festival-day-2-dad-boner-ian-karmel-peter-serafinowicz-more/%20http://www.laughspin.com/2013/04/21/bridgetown-comedy-festival-day-3-matt-braunger-kurt-braunohler-and-more/%20http://www.laughspin.com/2013/04/22/bridgetown-comedy-festival-day-4-theme-park-with-oscar-nunez-janet-varney-michael-hitchcock-natasha-leggero/%20http://www.laughspin.com/2013/04/19/bridgetown-diary-inside-portlands-annual-comedy-festival/" >http://www.laughspin.com/2013/04/19/bridgetown-diary-inside-portlands-annual-comedy-festival/</a></p>

  <p>Splitsider.com</p>

  <p><a href="http://splitsider.com/2013/04/go-backstage-at-the-bridgetown-comedy-festival-with-andy-peters-wandertown-podcast/" >http://splitsider.com/2013/04/go-backstage-at-the-bridgetown-comedy-festival-with-andy-peters-wandertown-podcast/</a></p>

  <p>Serial Optimist</p>

  <p><a href="http://www.serialoptimist.com/interviews/allen-strickland-williams-a-man-we-love-15410.html" >http://www.serialoptimist.com/interviews/allen-strickland-williams-a-man-we-love-15410.html</a></p>

  <p>The Oregonian/OregonLive.com</p>

  <p><a href="http://www.oregonlive.com/performance/index.ssf/2013/04/laugh_it_up_portland.html" >http://www.oregonlive.com/performance/index.ssf/2013/04/laugh_it_up_portland.html</a></p>

  <p><a href="http://www.oregonlive.com/movies/index.ssf/2013/04/bridgetown_comedy_festival_who.html" >http://www.oregonlive.com/movies/index.ssf/2013/04/bridgetown_comedy_festival_who.html</a></p>

  <p>Oregon Public Broadcasting</p>

  <p><a href="http://www.opb.org/artsandlife/article/bridgetown-comedy-festival-announces-2013-lineup/" >http://www.opb.org/artsandlife/article/bridgetown-comedy-festival-announces-2013-lineup/</a></p>

  <p><a href="http://www.opb.org/thinkoutloud/shows/local-comics-perform-bridgetown-comedy-festival/" >http://www.opb.org/thinkoutloud/shows/local-comics-perform-bridgetown-comedy-festival/</a></p>

  <p>KGW Newschannel 8</p>

  <p><a href="http://www.kgw.com/thesquare/Talk-Box-Bridgetown-Comedy-Festival-203321801.html" >http://www.kgw.com/thesquare/Talk-Box-Bridgetown-Comedy-Festival-203321801.html</a></p>

  <p><em>Portland Mercury</em></p>

  <p><a href="http://www.portlandmercury.com/BlogtownPDX/archives/2013/03/13/2013-bridgetown-comedy-festival-lineup-announced" >http://www.portlandmercury.com/BlogtownPDX/archives/2013/03/13/2013-bridgetown-comedy-festival-lineup-announced</a></p>

  <p><a href="http://www.portlandmercury.com/portland/bridgetown-comedy-fest/Content?oid=9077410" >http://www.portlandmercury.com/portland/bridgetown-comedy-fest/Content?oid=9077410</a></p>

  <p><a href="http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/19/your-drunk-bridgetown-update" >http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/19/your-drunk-bridgetown-update</a></p>

  <p><a href="http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/20/a-hungover-bridgetown-update" >http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/20/a-hungover-bridgetown-update</a></p>

  <p><a href="http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/20/your-drunk-bridgetown-update-2" >http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/20/your-drunk-bridgetown-update-2</a></p>

  <p><a href="http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/22/a-hungover-bridgetown-update-3" >http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/22/a-hungover-bridgetown-update-3</a></p>

  <p><a href="http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/21/hey-bridgetown-go-see-theme-park-this-afternoon" >http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/21/hey-bridgetown-go-see-theme-park-this-afternoon</a><br />
  <a href="http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/21/saturday-night-bridgetown-update-emily-heller-won-iron-comic-and-guy-branum-won-twitter" >http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/21/saturday-night-bridgetown-update-emily-heller-won-iron-comic-and-guy-branum-won-twitter</a></p>

  <p><a href="http://blogtown.portlandmercury.com/BlogtownPDX/archives/2013/04/23/bridgetown-parting-shots" >http://blogtown.portlandmercury.com/BlogtownPDX/archives/2013/04/23/bridgetown-parting-shots</a></p>

  <p><a href="http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/20/sketching-bridgetown" >http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/20/sketching-bridgetown</a></p>

  <p><a href="http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/21/if-you-missed-that-simpsons-panel-youre-a-terrible-portlander" >http://www.portlandmercury.com/BlogtownPDX/archives/2013/04/21/if-you-missed-that-simpsons-panel-youre-a-terrible-portlander</a></p>

  <p><em>Portland Monthly</em> magazine</p>

  <p><a href="http://www.portlandmonthlymag.com/arts-and-entertainment/culturephile-portland-arts/articles/bridgetown-comedy-fest-is-coming-march-2013" >http://www.portlandmonthlymag.com/arts-and-entertainment/culturephile-portland-arts/articles/bridgetown-comedy-fest-is-coming-march-2013</a></p>

  <p><a href="http://www.portlandmonthlymag.com/arts-and-entertainment/culturephile-portland-arts/articles/q-and-a-local-bridgetown-comedian-nathan-brannon-april-2013" >http://www.portlandmonthlymag.com/arts-and-entertainment/culturephile-portland-arts/articles/q-and-a-local-bridgetown-comedian-nathan-brannon-april-2013</a></p>

  <p><a href="http://www.portlandmonthlymag.com/arts-and-entertainment/culturephile-portland-arts/articles/q-and-a-simpsons-writer-dana-gould-april-2013" >http://www.portlandmonthlymag.com/arts-and-entertainment/culturephile-portland-arts/articles/q-and-a-simpsons-writer-dana-gould-april-2013</a></p>

  <p>PDXPipeline</p>

  <p><a href="http://pdxpipeline.com/2013/04/09/portland-bridgetown-comedy-festival/" >http://pdxpipeline.com/2013/04/09/portland-bridgetown-comedy-festival/</a></p>

  <p>CultureMob</p>

  <p><a href="http://culturemob.com/culturemob-chats-with-three-of-seattles-bridgetown-first-timers" >http://culturemob.com/culturemob-chats-with-three-of-seattles-bridgetown-first-timers</a></p>

  <p><a href="http://culturemob.com/bridgetown-qa-four-questions-for-barbara-holm" >http://culturemob.com/bridgetown-qa-four-questions-for-barbara-holm</a></p>

  <p><a href="http://culturemob.com/emmett-montgomery-talks-bridgetown-airblades-decapitations" >http://culturemob.com/emmett-montgomery-talks-bridgetown-airblades-decapitations</a></p>

  <p><a href="http://culturemob.com/if-you-only-see-four-shows-at-bridgetown-honestly-you-are-hardly-trying-at-all" >http://culturemob.com/if-you-only-see-four-shows-at-bridgetown-honestly-you-are-hardly-trying-at-all</a></p>

  <p><a href="http://culturemob.com/discovery-and-excitement-bridgetown-2013-day-1" >http://culturemob.com/discovery-and-excitement-bridgetown-2013-day-1</a></p>

  <p><a href="http://culturemob.com/todd-glass-and-the-hawthorne-lounge-bridgetown-day-3" >http://culturemob.com/todd-glass-and-the-hawthorne-lounge-bridgetown-day-3</a></p>

  <p><em>Nailed</em> magazine</p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-janet-varney/" >http://www.nailedmagazine.com/interview/comedian-janet-varney/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-karen-kilgariff/" >http://www.nailedmagazine.com/interview/comedian-karen-kilgariff/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-shane-torres/" >http://www.nailedmagazine.com/interview/comedian-shane-torres/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-moshe-kasher/" >http://www.nailedmagazine.com/interview/comedian-moshe-kasher/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-myq-kaplan/" >http://www.nailedmagazine.com/interview/comedian-myq-kaplan/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-lonnie-bruhn/" >http://www.nailedmagazine.com/interview/comedian-lonnie-bruhn/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-gabe-dinger/" >http://www.nailedmagazine.com/interview/comedian-gabe-dinger/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-paul-gilmartin/" >http://www.nailedmagazine.com/interview/comedian-paul-gilmartin/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-chris-fairbanks/" >http://www.nailedmagazine.com/interview/comedian-chris-fairbanks/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-kurt-braunohler/" >http://www.nailedmagazine.com/interview/comedian-kurt-braunohler/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-paul-jay/" >http://www.nailedmagazine.com/interview/comedian-paul-jay/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-barbara-holm/" >http://www.nailedmagazine.com/interview/comedian-barbara-holm/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/interview-comedian-katie-rose-leon/" >http://www.nailedmagazine.com/interview/interview-comedian-katie-rose-leon/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-emily-heller/" >http://www.nailedmagazine.com/interview/comedian-emily-heller/</a></p>

  <p><a href="http://www.nailedmagazine.com/interview/comedian-baron-vaughn/" >http://www.nailedmagazine.com/interview/comedian-baron-vaughn/</a></p>

  <p><a href="http://www.nailedmagazine.com/ec/top-12-quick-jokes-from-bridgetown-comedy-festival/" >http://www.nailedmagazine.com/ec/top-12-quick-jokes-from-bridgetown-comedy-festival/ </a></p>

  <p><br />
  The Superslice</p>

  <p><a href="http://thesuperslice.com/2013/04/17/the-superslice-guide-to-the-2013-bridgetown-comedy-festival/" >http://thesuperslice.com/2013/04/17/the-superslice-guide-to-the-2013-bridgetown-comedy-festival/</a></p>

  <p><a href="http://thesuperslice.com/2013/04/16/bridgetown-comedy-festival-2013-karen-kilgariff-interview/" >http://thesuperslice.com/2013/04/16/bridgetown-comedy-festival-2013-karen-kilgariff-interview/</a></p>

  <p><a href="http://thesuperslice.com/2013/04/13/bridgetown-comedy-festival-2013-matt-braunger-x-nathan-brannon-x-whitney-streed-interviews/" >http://thesuperslice.com/2013/04/13/bridgetown-comedy-festival-2013-matt-braunger-x-nathan-brannon-x-whitney-streed-interviews/</a></p>

  <p><a href="http://thesuperslice.com/2013/05/05/joe-sib-interview/" >http://thesuperslice.com/2013/05/05/joe-sib-interview/</a></p>

  <p><a href="http://thesuperslice.com/2013/04/28/bridgetown-comedy-festival-2013-recap-part-1-interviews-with-ian-karmel-lance-bangs/" >http://thesuperslice.com/2013/04/28/bridgetown-comedy-festival-2013-recap-part-1-interviews-with-ian-karmel-lance-bangs/</a></p>

  <p><a href="http://thesuperslice.com/2013/04/30/bridgetown-comedy-festival-2013-recap-part-2/" > http://thesuperslice.com/2013/04/30/bridgetown-comedy-festival-2013-recap-part-2/</a></p>

  <p><a href="http://thesuperslice.com/2013/05/03/bridgetown-comedy-festival-2013-recap-part-3/" >http://thesuperslice.com/2013/05/03/bridgetown-comedy-festival-2013-recap-part-3/</a></p>

  <p><br />
  AfterEllen.com</p>

  <p><a href="http://www.afterellen.com/2013/04/lez-stand-out-bridgetown-comedy-fest" >http://www.afterellen.com/2013/04/lez-stand-out-bridgetown-comedy-fest</a></p>

  <p><a href="http://www.afterellen.com/2013/04/lez-stand-out-bridgetowns-best" >http://www.afterellen.com/2013/04/lez-stand-out-bridgetowns-best</a></p>

  <p><em>Willamette Week</em></p>

  <p><a href="http://www.wweek.com/portland/blog-30065-bridgetown_comedy_festival_moments_from_day_1.html" >http://www.wweek.com/portland/blog-30065-bridgetown_comedy_festival_moments_from_day_1.html</a></p>

  <p><a href="http://www.wweek.com/portland/blog-30066-bridgetown_comedy_festival_moments_from_days_2_and_3.html" >http://www.wweek.com/portland/blog-30066-bridgetown_comedy_festival_moments_from_days_2_and_3.html</a></p>

  <p>DailyBlender.com</p>

  <p><a href="http://www.dailyblender.com/2013/04/comedy-can-save-the-day-portland-comic-ian-karmel/" >http://www.dailyblender.com/2013/04/comedy-can-save-the-day-portland-comic-ian-karmel/</a></p>

  <p>DailyDot.com</p>

  <p><a href="http://www.dailydot.com/entertainment/bridgetown-comedy-festival-matt-braunger/" >http://www.dailydot.com/entertainment/bridgetown-comedy-festival-matt-braunger/</a></p>

  <p><a href="http://www.dailydot.com/entertainment/walking-room-podcast-greg-behrendt-interview/" >http://www.dailydot.com/entertainment/walking-room-podcast-greg-behrendt-interview/</a></p>

  <p><a href="http://ec.dailydot.com/entertainment/megan-amram-twitter-interview-parks-rec/" >http://ec.dailydot.com/entertainment/megan-amram-twitter-interview-parks-rec/</a></p>

  <p>PODCASTS at the festival</p>

  <p>Walking the Room</p>

  <p><a href="https://soundcloud.com/walking-the-room/148-gallaghers-suicide-note" >https://soundcloud.com/walking-the-room/148-gallaghers-suicide-note</a> (live show featuring guests Paul Gilmartin, Todd Glass, and Gallagher)<a href="https://soundcloud.com/walking-the-room/147-moshe-kasher-at-bridgetown" >https://soundcloud.com/walking-the-room/147-moshe-kasher-at-bridgetown</a> (with guest Moshe Kasher)</p>

  <p>The Paul Goebel Show </p>

  <p><a href="http://www.thekingoftv.com/podcast/2013/04/23/episode-346-w-myq-kaplan-xander-deveaux-gallagher/" >http://www.thekingoftv.com/podcast/2013/04/23/episode-346-w-myq-kaplan-xander-deveaux-gallagher</a> (final episode, featuring guests Myq Kaplan, Xander Deveaux, and Gallagher)</p>

  <p>Probably Science</p>

  <p><a href="http://probablyscience.tumblr.com/post/48664764618/episode-66-with-peter-serafinowicz-and-gallagher" >http://probablyscience.tumblr.com/post/48664764618/episode-66-with-peter-serafinowicz-and-gallagher</a> (with guests Peter Serafinowicz and Gallagher)</p>

  <p>Put Your Hands Together</p>

  <p><a href="http://castroller.com/podcasts/PutYourHands/3527529" >http://castroller.com/podcasts/PutYourHands/3527529</a> (Cameron Esposito hosts Reggie Watts, Karen Kilgariff, Seth Herzog, Ben Kronberg, Andy Wood, and Rhea Butcher)</p>

  <p>The Mental Illness Happy Hour</p>

  <p><a href="http://mentalpod.com/Karen-Kilgariff-podcast" >http://mentalpod.com/Karen-Kilgariff-podcast</a> (host Paul Gilmartin talks to Karen Kilgariff)</p>

  <p>The JV Club</p>

  <p><a href="http://www.nerdist.com/2013/05/the-jv-club-60-live-from-bridgetown/" >http://www.nerdist.com/2013/05/the-jv-club-60-live-from-bridgetown</a> (Janet Varney interviews Natasha Leggero and Karen Kilgariff)</p>

  <p>Who Charted?</p>

  <p><a href="http://www.earwolf.com/episode/42613-two-charted-64/" >http://www.earwolf.com/episode/42613-two-charted-64</a> (Howard and Kulap give a Bridgetown recap)</p>

  <p>Shanrock's Triviopodogy</p>

  <p><a href="http://www.patiohpatino.com/wp-content/uploads/2013/05/Trivipodigy_Ep12-FINAL-CUT.mp3" >http://www.patiohpatino.com/wp-content/uploads/2013/05/Trivipodigy_Ep12-FINAL-CUT.mp3</a> (guest host Kenny Sessler interviews Veronica Heath and Paul Goebel, the champions of the 2013 Comedy Cup Quiz at Bridgetown.)</p>

  <p>Wandertown: Audio Dispatches from the Bridgetown Comedy Festival</p>

  <p><a href="https://soundcloud.com/andy_peters/sets/wandertown-day-1" >https://soundcloud.com/andy_peters/sets/wandertown-day-1</a></p>

  <p><a href="https://soundcloud.com/andy_peters/sets/wandertown-day-2" >https://soundcloud.com/andy_peters/sets/wandertown-day-2</a></p>

  <p><a href="https://soundcloud.com/andy_peters/sets/wandertown-day-3" >https://soundcloud.com/andy_peters/sets/wandertown-day-3</a></p>

  <p><a href="https://soundcloud.com/andy_peters/sets/wandertown-day-4" >https://soundcloud.com/andy_peters/sets/wandertown-day-4</a></p>

  <p><a href="https://soundcloud.com/andy_peters/sets/wandertown-the-goodest-of-the" >https://soundcloud.com/andy_peters/sets/wandertown-the-goodest-of-the</a></p>

  <p>FunEmployment Radio</p>

  <p><a href="http://funemploymentradio.com/2013/04/12/funemployment-radio-episode-839/" >http://funemploymentradio.com/2013/04/12/funemployment-radio-episode-839/</a></p>

  <p><a href="http://funemploymentradio.com/2013/04/16/funemployment-radio-episode-840/" >http://funemploymentradio.com/2013/04/16/funemployment-radio-episode-840/</a></p>

  <p><a href="http://funemploymentradio.com/2013/04/19/funemployment-radio-episode-843/" >http://funemploymentradio.com/2013/04/19/funemployment-radio-episode-843/</a></p>

  <p><a href="http://funemploymentradio.com/2013/04/22/funemployment-radio-episode-844/" >http://funemploymentradio.com/2013/04/22/funemployment-radio-episode-844/</a></p>

  <p><a href="http://funemploymentradio.com/2013/04/24/funemployment-radio-episode-846/" >http://funemploymentradio.com/2013/04/24/funemployment-radio-episode-846/</a></p>

  <p>VIDEOS</p>

  <p><a href="https://www.youtube.com/watch?feature=player_embedded&amp;v=IF306s_jW_k" >https://www.youtube.com/watch?feature=player_embedded&amp;v=IF306s_jW_k </a>(by Nate Craig with help from other performers)</p>

</div>


