
  <div class="jumbotron jumbotron-minor jumbotron-color-1  jumbotron-page-header">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>Sponsors</h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

<div class="container main-content sponsors-container text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <a target="_blank" href="http://squarespace.com/?channel=events&subchannel=comedy&source=bridgetown14"><img class="img-responsive" src="/img/sponsor-images/sponsor-squarespace-big.png" alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
        <a target="_blank" href="https://taximagic.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-taxi-magic-big.png" alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
        <a target="_blank" href="http://mailchimp.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-mailchimp-long.png?1" alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.portlandoldies.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-oldies.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.z100portland.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-z100.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.1059thebrew.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-brew.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.cremabakery.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-crema.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.deschutesbrewery.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-deschutes.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://sizzlepie.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-sizzle-pie.png" alt=""></a>
      </div>

      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.bendistillery.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-crater-lake.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.eastsidedistilling.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-eastside-distillery.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://elevenpdx.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-eleven.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://funemploymentradio.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-funemployment.png" alt=""></a>
      </div>

      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://groundkontrol.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-ground-kontrol.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://ifc.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-ifc.png?1" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://imeldas.com/store?utm_source=BTC14&utm_medium=BTCsponsorpage&utm_campaign=logo"><img class="img-responsive" src="/img/sponsor-images/sponsor-imeldas.png" alt=""></a>
      </div>
      <div class="col-xs-8 col-sm-4">
        <a target="_blank" href="http://www.jupiterhotel.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-jupiter-long.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.kindsnacks.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-kind-bar.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://laughingplanetcafe.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-laughing-planet.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.montageportland.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-montage.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://pabstblueribbon.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-pabst.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.pivot.tv/?cmpid=bridgetown"><img class="img-responsive" src="/img/sponsor-images/sponsor-pivot.png?1" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.portlandmercury.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-mercury.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="https://soundcloud.com/wandertown">
          <img class="img-responsive" src="/img/sponsor-images/sponsor-soundcloud.png" alt="">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.standupfordowns.org/">
          <img class="img-responsive" src="/img/sponsor-images/sponsor-stand-up-for-downs.png" alt="">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.tonkin.com/">
          <img class="img-responsive" src="/img/sponsor-images/sponsor-tonkin.png" alt="">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://voodoodoughnut.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-voodoo.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://voodoodoughnut.com/recordings"><img class="img-responsive" src="/img/sponsor-images/sponsor-voodoo-recordings.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://zachsshack.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-zachs-shack.png" alt=""></a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a target="_blank" href="http://www.yelp.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-yelp.png" alt=""></a>
      </div>

    </div><!-- row -->
  </div><!-- container -->
