{{page-title-banner title="Venues"}}

<div class="container main-content">
  <div class="row">

    <div class="col-sm-12">
      <p>
        <img src="/img/venue-images/venue-doug-fir.gif" />
      </p>

      <h3>Squarespace Stage at Doug Fir Lounge</h3>
      <p>
        <a href="/venue/7612-squarespace-stage-at-doug-fir">- View Shows</a>
      </p>
      <p class="venue-website">
        <a href="http://www.dougfirlounge.com/">http://www.dougfirlounge.com/</a>
      </p>
      <p class="venue-address">830 E. Burnside St., Portland, OR</p>

      <p class="venue-description">Since 2004, Doug Fir Lounge has stood above the rest as Portland’s best sounding venue, hosting over 25 shows a month. The Lounge was named to <em>Rolling Stone</em> magazine’s list of top club venues in America in 2013</a>. The Doug Fir is the place to see the world’s best performers in the most intimate of settings for a truly memorable experience.</p>

      <p>
        <img src="/img/venue-images/venue-boogie-burders.gif" />
      </p>

      <h3>Boogie Burgers</h3>
      {{!-- <p>
        <a href="/venue/7612-squarespace-stage-at-doug-fir">- View Shows</a>
      </p> --}}
      <p class="venue-website">
        <a target="_blank" href="http://www.boogiesburgersandbrew.com/">www.boogiesburgersandbrew.com/</a>
      </p>
      <p class="venue-address">910 E Burnside St, Portland, OR</p>

      <p class="venue-description"></p>






      <p>
        <img src="/img/venue-images/venue-boogie-burders.gif" />
      </p>

      <h3>Bunk</h3>
        {{!-- <p>
        <a href="/venue/7612-squarespace-stage-at-doug-fir">- View Shows</a>
      </p> --}}
      <p class="venue-website">
        <a target="_blank" href="http://www.bunksandwiches.com/bunkbar/">www.bunksandwiches.com/bunkbar/</a>
      </p>
      <p class="venue-address">1028 SE Water, Portland, OR</p>

      <p class="venue-description"></p>





      <p>
        <img src="/img/venue-images/venue-boogie-burders.gif" />
      </p>

      <h3>Sandy Hut</h3>
      {{!-- <p>
        <a href="/venue/7612-squarespace-stage-at-doug-fir">- View Shows</a>
      </p> --}}
      <p class="venue-website">
        <a target="_blank" href="https://www.facebook.com/thesandyhut">www.facebook.com/thesandyhut</a>
      </p>
      <p class="venue-address">1430 NE Sandy Blvd, Portland, OR</p>

      <p class="venue-description"></p>



      <p>
        <img src="/img/venue-images/venue-boogie-burders.gif" />
      </p>

      <h3>Revolution Hall (Washington High)</h3>
      {{!-- <p>
        <a href="/venue/7612-squarespace-stage-at-doug-fir">- View Shows</a>
      </p> --}}
      <p class="venue-website">
        <a target="_blank" href="http://www.revolutionhallpdx.com/">www.revolutionhallpdx.com/</a>
      </p>
      <p class="venue-address">Suite #110, 1300 SE Stark St, Portland, OR</p>

      <p class="venue-description"></p>



      <p>
        <img src="/img/venue-images/venue-boogie-burders.gif" />
      </p>

      <h3>Bossanova Ballroom</h3>
      {{!-- <p>
        <a href="/venue/7612-squarespace-stage-at-doug-fir">- View Shows</a>
      </p> --}}
      <p class="venue-website">
        <a target="_blank" href="http://www.bossanovaballroom.com">www.bossanovaballroom.com</a>
      </p>
      <p class="venue-address">722 E Burnside, Portland, OR</p>

      <p class="venue-description"></p>



      <p>
        <img src="/img/venue-images/venue-boogie-burders.gif" />
      </p>

      <h3>Norse Hall</h3>
      {{!-- <p>
        <a href="/venue/7612-squarespace-stage-at-doug-fir">- View Shows</a>
      </p> --}}
      <p class="venue-website">
        <a target="_blank" href="http://www.norsehall.org">www.norsehall.org</a>
      </p>
      <p class="venue-address">111 N.E. 11th Avenue (at N.E. Couch Street), Portland, OR</p>

      <p class="venue-description"></p>




      <p>
        <img src="/img/venue-images/venue-boogie-burders.gif" />
      </p>

      <h3>Rotture</h3>
      {{!-- <p>
        <a href="/venue/7612-squarespace-stage-at-doug-fir">- View Shows</a>
      </p> --}}
      <p class="venue-website">
        <a target="_blank" href="http://www.rotture.com">www.rotture.com</a>
      </p>
      <p class="venue-address">315 SE 3rd Ave, Portland, OR</p>

      <p class="venue-description"></p>


    </div>
  </div>
</div>