{{page-title-banner title="Venues"}}

<div class="container main-content">
  <div class="col sqs-col-12 span-12"><div class="sqs-block embed-block sqs-block-embed" data-block-json="{&quot;hSize&quot;:null,&quot;floatDir&quot;:null,&quot;html&quot;:&quot;<iframe src=\&quot;https://mapsengine.google.com/map/u/0/embed?mid=zFy_pBh586PU.kbpDVJC5_cCI\&quot; width=\&quot;2000\&quot; height=\&quot;480\&quot;></iframe>&quot;,&quot;resolvedBy&quot;:&quot;manual&quot;,&quot;resolved&quot;:true}" data-block-type="22" id="block-yui_3_10_1_1_1397859598638_18386"><div class="sqs-block-content"><iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zFy_pBh586PU.kbpDVJC5_cCI&amp;wmode=opaque" width="2000" data-embed="true" height="480"></iframe></div></div><div class="sqs-block image-block sqs-block-image" data-aspect-ratio="54.46685878962536" data-block-type="5" id="block-yui_3_10_1_1_1397599847113_50694"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:620.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13e0e4b0cd207ffebea9/1398674401784/dougfirlogo.gif"  alt="dougfirlogo.gif"  /&gt;</noscript><img class="thumb-image" alt="dougfirlogo.gif" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13e0e4b0cd207ffebea9/1398674401784/dougfirlogo.gif" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13e0e4b0cd207ffebea9/1398674401784/dougfirlogo.gif" data-image-dimensions="620x339" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="535e13e0e4b0cd207ffebea9" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13e0e4b0cd207ffebea9/1398674401784/dougfirlogo.gif">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1398673161089_48903"><div class="sqs-block-content"><h2><span><span style="font-size:15px">Squarespace Stage at Doug Fir Lounge</span></span></h2><p><a href="/venue/7612-squarespace-stage-at-doug-fir"><span><span style="font-size:15px">- View Shows</span></span></a></p><p><span><a href="http://www.dougfirlounge.com/"><span style="font-size:15px">http://www.dougfirlounge.com/</span></a></span></p><p><span><span style="font-size:15px">830 E. Burnside St.</span></span></p><p><span><span style="font-size:15px">Since 2004, Doug Fir Lounge has stood above the rest as Portland’s best sounding venue, hosting over 25 shows a month. The Lounge was named to </span><a href="http://venue/7612-squarespace-stage-at-doug-fir"><em>Rolling Stone</em><span style="font-size:15px"> magazine’s list of top club venues in America in 2013</span></a><span style="font-size:15px">. The Doug Fir is the place to see the world’s best performers in the most intimate of settings for a truly memorable experience.</span></span></p></div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_10_1_1_1397599847113_11479"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:620.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13a4e4b0cd207ffebe5c/1398674341886/"  /&gt;</noscript><img class="thumb-image" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13a4e4b0cd207ffebe5c/1398674341886/" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13a4e4b0cd207ffebe5c/1398674341886/" data-image-dimensions="620x189" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="535e13a4e4b0cd207ffebe5c" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13a4e4b0cd207ffebe5c/1398674341886/">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1397603338441_24550"><div class="sqs-block-content"><h2><span><span style="font-size:15px">Taxi Magic Stage at Alhambra Theater&nbsp;</span></span></h2><p><a href="/venue/7609-taxi-magic-stage-at-alhambra-theater-main"><span><span style="font-size:15px">- View Shows for Alhambra Main Stage</span></span></a></p><p><a href="/venue/7608-alhambra-theater-lounge"><span><span style="font-size:15px">- View Shows for Alhambra Lounge</span></span></a></p><p><span><a href="http://www.alhambrapdx.com/"><span style="font-size:15px">http://www.alhambrapdx.com/</span></a></span></p><p><span><span style="font-size:15px">4811 SE Hawthorne Blvd.</span></span></p><p><span><span style="font-size:15px">Originally an early-twentieth-century movie theater, the Alhambra and its adjacent lounge have recently been renovated to return to their original glory in decor, technology, hospitality, and entertainment. The Alhambra Lounge offers a secondary venue for more intimate performances and podcast tapings.</span></span></p></div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_10_1_1_1397599847113_58924"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:620.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1453e4b0482b3e2a05b8/1398674515900/WOSC.jpg"  alt="WOSC.jpg"  /&gt;</noscript><img class="thumb-image" alt="WOSC.jpg" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1453e4b0482b3e2a05b8/1398674515900/WOSC.jpg" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1453e4b0482b3e2a05b8/1398674515900/WOSC.jpg" data-image-dimensions="620x129" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="535e1453e4b0482b3e2a05b8" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1453e4b0482b3e2a05b8/1398674515900/WOSC.jpg">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1398673161089_54798"><div class="sqs-block-content"><h2 id="yui_3_10_1_1_1398673161089_53845"><span><span style="font-size:15px">Mailchimp Stage at White Owl Social Club</span></span></h2><p id="yui_3_10_1_1_1398673161089_53846"><a data-cke-saved-href="/venue/7618-mailchimp-stage-stage-at-white-owl-social-club" href="/venue/7618-mailchimp-stage-stage-at-white-owl-social-club"><span><span style="font-size:15px">- View Shows</span></span></a></p><p id="yui_3_10_1_1_1398673161089_53847"><span><a data-cke-saved-href="http://whiteowlsocialclub.com/" href="http://whiteowlsocialclub.com/"><span style="font-size:15px">http://whiteowlsocialclub.com/</span></a></span></p><p id="yui_3_10_1_1_1398673161089_53848"><span><span style="font-size:15px">1305 SE 8th Ave.</span></span></p><p id="yui_3_10_1_1_1398673161089_53849"><span><span style="font-size:15px">The White Owl Social Club is a bar, restaurant, and performance venue boasting a swanky interior and a massive outdoor patio. Trust us here at Bridgetown HQ, every night is a party at White Owl, complete with crafty cocktails and comfort food! </span></span></p></div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_10_1_1_1398673161089_61852"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:578.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e16a4e4b0e811728f8d70/1398675108809/FOE.jpg"  alt="FOE.jpg"  /&gt;</noscript><img class="thumb-image" alt="FOE.jpg" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e16a4e4b0e811728f8d70/1398675108809/FOE.jpg" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e16a4e4b0e811728f8d70/1398675108809/FOE.jpg" data-image-dimensions="578x326" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="535e16a4e4b0e811728f8d70" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e16a4e4b0e811728f8d70/1398675108809/FOE.jpg">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1398673161089_62056"><div class="sqs-block-content"><h2><span><span style="font-size:15px">Sizzle Pie Stage at Eagles Lodge</span></span></h2><p><a href="/venue/7613-sizzle-pie-stage-at-eagles-lodge"><span style="font-size:15px">- View Shows</span></a></p><p><a target="_blank" href="http://www.yelp.com/biz/east-portland-eagle-lodge-portlan">http://www.yelp.com/biz/east-portland-eagle-lodge-portland</a></p><p><span><span style="font-size:15px">4904 SE Hawthorne Blvd.</span></span></p><p><span><span style="font-size:15px">If the walls of the Eagles Lodge could talk, Bridgetown would probably get a stern lecture. </span></span></p><p><span><span style="font-size:15px">With an interior resembling ‘70s prom decor, this relic of bygone Portland opens its doors to Bridgetown year after year, for performances that are likely more mischievous than it normally sees.</span></span></p></div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_10_1_1_1397599847113_41690"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:500.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1432e4b0482b3e2a05a8/1398674483770/hawthorne-theatre-logo.jpeg"  alt="hawthorne-theatre-logo.jpeg"  /&gt;</noscript><img class="thumb-image" alt="hawthorne-theatre-logo.jpeg" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1432e4b0482b3e2a05a8/1398674483770/hawthorne-theatre-logo.jpeg" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1432e4b0482b3e2a05a8/1398674483770/hawthorne-theatre-logo.jpeg" data-image-dimensions="500x314" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="535e1432e4b0482b3e2a05a8" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1432e4b0482b3e2a05a8/1398674483770/hawthorne-theatre-logo.jpeg">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1397603338441_25989"><div class="sqs-block-content"><h2 id="yui_3_10_1_1_1398673161089_79597"><span><span style="font-size:15px">Hawthorne Theatre</span></span></h2><p id="yui_3_10_1_1_1398673161089_79598"><a data-cke-saved-href="/venue/7615-hawthorne-theatre-main" href="/venue/7615-hawthorne-theatre-main"><span><span style="font-size:15px">- View Shows for Hawthorne Theatre</span></span></a></p><p id="yui_3_10_1_1_1398673161089_79599"><a data-cke-saved-href="/venue/7614-hawthorne-theatre-lounge" href="/venue/7614-hawthorne-theatre-lounge"><span><span style="font-size:15px">- View Shows for Hawthorne Lounge</span></span></a></p><p id="yui_3_10_1_1_1398673161089_79600"><span><a data-cke-saved-href="http://www.hawthornetheatre.com/" href="http://www.hawthornetheatre.com/"><span style="font-size:15px">http://www.hawthornetheatre.com/</span></a></span></p><p id="yui_3_10_1_1_1398673161089_79601"><span><span style="font-size:15px">1507 SE 39th Ave.</span></span></p><p id="yui_3_10_1_1_1398673161089_79602"><span><span style="font-size:15px">A staple of live entertainment in Portland, the Hawthorne Theater offers a large concert hall and a smaller, more intimate performance space under one roof. Conveniently located at the corner of SE 39th and Hawthorne, this venue is renowned for hosting top-notch performances. </span></span></p></div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_10_1_1_1397599847113_28506"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:620.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13d4e4b0cd207ffebe96/1398674389676/bossanova.jpg"  alt="bossanova.jpg"  /&gt;</noscript><img class="thumb-image" alt="bossanova.jpg" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13d4e4b0cd207ffebe96/1398674389676/bossanova.jpg" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13d4e4b0cd207ffebe96/1398674389676/bossanova.jpg" data-image-dimensions="620x228" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="535e13d4e4b0cd207ffebe96" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13d4e4b0cd207ffebe96/1398674389676/bossanova.jpg">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1398673161089_80404"><div class="sqs-block-content"><h2 id="yui_3_10_1_1_1398673161089_79603"><span><span style="font-size:15px">Bossanova Ballroom</span></span></h2><p id="yui_3_10_1_1_1398673161089_79604"><a data-cke-saved-href="/venue/7611-bossanova" href="/venue/7611-bossanova"><span><span style="font-size:15px">- View Shows</span></span></a></p><p id="yui_3_10_1_1_1398673161089_79605"><span><a data-cke-saved-href="http://www.bossanovaballroom.com/" href="http://www.bossanovaballroom.com/"><span style="font-size:15px">http://www.bossanovaballroom.com/</span></a></span></p><p id="yui_3_10_1_1_1398673161089_79606"><span><span style="font-size:15px">722 E. Burnside St.</span></span></p><p id="yui_3_10_1_1_1398673161089_79607"><span><span style="font-size:15px">The Bossanova Ballroom is an 11,000-square-foot, two-level event space equipped with multiple bars, a large performance stage, and space for an audience of 750 people. Expect big laughs at this giant venue!</span></span></p><p id="yui_3_10_1_1_1398673161089_79608"><br></p></div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_10_1_1_1397599847113_17576"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:620.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13bae4b0cd207ffebe78/1398674363312/"  /&gt;</noscript><img class="thumb-image" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13bae4b0cd207ffebe78/1398674363312/" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13bae4b0cd207ffebe78/1398674363312/" data-image-dimensions="620x150" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="535e13bae4b0cd207ffebe78" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13bae4b0cd207ffebe78/1398674363312/">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1398673161089_77146"><div class="sqs-block-content"><h2 id="yui_3_10_1_1_1398673161089_76410"><span><span style="font-size:15px">Analog Cafe</span></span></h2><p id="yui_3_10_1_1_1398673161089_76411"><a data-cke-saved-href="/venue/7619-analog-theater" href="/venue/7619-analog-theater"><span><span style="font-size:15px">- View Shows for Analog Theatre</span></span></a></p><p id="yui_3_10_1_1_1398673161089_76412"><a data-cke-saved-href="/venue/7620-analog-cafe" href="/venue/7620-analog-cafe"><span><span style="font-size:15px">- View Shows for Analog Cafe</span></span></a>&nbsp;</p><p id="yui_3_10_1_1_1398673161089_76413"><a data-cke-saved-href="http://www.analogpdx.com/" href="http://www.analogpdx.com/"><span style="font-size:15px">http://www.analogpdx.com/</span></a></p><p id="yui_3_10_1_1_1398673161089_76414"><span><span style="font-size:15px">720 SE Hawthorne Blvd.</span></span></p><p id="yui_3_10_1_1_1398673161089_76415"><span><span style="font-size:15px">The Analog is a artist-centric performance theater and restaurant owned and operated by an indie record label DRD Records. It’s conveniently located on inner SE Hawthorne, just a block from the White Owl.</span></span></p></div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_10_1_1_1397604293805_29933"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:700.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/534dc059e4b0ec6f48740ad4/1397604441975/"  /&gt;</noscript><img class="thumb-image" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/534dc059e4b0ec6f48740ad4/1397604441975/" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/534dc059e4b0ec6f48740ad4/1397604441975/" data-image-dimensions="700x302" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="534dc059e4b0ec6f48740ad4" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/534dc059e4b0ec6f48740ad4/1397604441975/">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1397604293805_30137"><div class="sqs-block-content"><h2 id="yui_3_10_1_1_1398673161089_44377"><span><span style="font-size:15px">Jupiter Hotel Tent</span></span></h2><p id="yui_3_10_1_1_1398673161089_44378"><a data-cke-saved-href="/venue/7616-jupiter-tent" href="/venue/7616-jupiter-tent"><span><span style="font-size:15px">- View Shows</span></span></a></p><p id="yui_3_10_1_1_1398673161089_44379"><span><a data-cke-saved-href="http://www.jupiterhotel.com/" href="http://www.jupiterhotel.com/"><span style="font-size:15px">http://www.jupiterhotel.com/</span></a></span></p><p id="yui_3_10_1_1_1398673161089_44380"><span><span style="font-size:15px">800 E. Burnside St.</span></span></p><p id="yui_3_10_1_1_1398673161089_44381"><span><span style="font-size:15px">Adjacent to the Doug Fir, this 2,800-square-foot covered outdoor space is lined with lush bamboo, adorned with crystal chandeliers, and features a two-tiered stage for entertainment. Just steps from the Doug Fir’s indoor main stage, this secondary venue allows <span>festivalgoers</span> to quickly hop from one show to another.</span></span></p></div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_10_1_1_1397599847113_22543"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:620.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13c8e4b0317988ab5309/1398674377555/BOG+LOGO.jpeg"  alt="BOG LOGO.jpeg"  /&gt;</noscript><img class="thumb-image" alt="BOG LOGO.jpeg" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13c8e4b0317988ab5309/1398674377555/BOG+LOGO.jpeg" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13c8e4b0317988ab5309/1398674377555/BOG+LOGO.jpeg" data-image-dimensions="620x293" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="535e13c8e4b0317988ab5309" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e13c8e4b0317988ab5309/1398674377555/BOG+LOGO.jpeg">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1398673161089_74357"><div class="sqs-block-content"><h2 id="yui_3_10_1_1_1398673161089_73696"><span><span style="font-size:15px">Bar of the Gods</span></span></h2><p id="yui_3_10_1_1_1398673161089_73697"><a data-cke-saved-href="/venue/7610-bar-of-the-gods" href="/venue/7610-bar-of-the-gods"><span><span style="font-size:15px">- View Shows</span></span></a></p><p id="yui_3_10_1_1_1398673161089_73698"><span><a data-cke-saved-href="http://barofthegods.com/" href="http://barofthegods.com/"><span style="font-size:15px">http://barofthegods.com/</span></a></span></p><p id="yui_3_10_1_1_1398673161089_73699"><span><span style="font-size:15px">4801 SE Hawthorne Blvd.</span></span></p><p id="yui_3_10_1_1_1398673161089_73700"><span><span style="font-size:15px">Bar of the Gods, a.k.a. <span>the</span> BOG, is darker than Plato's cave, but only in terms of lighting. BOG is a friendly, lighthearted bar, populated by a mostly younger crowd of amicable mortals. Groups will find plenty of booths, and solo acts will find good conversation at the bar. The patio out back is climate controlled for year-round seating. There's always an interesting selection of esoteric beverages, plus pinball and pool. </span></span></p></div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_10_1_1_1397599847113_40194"><div class="sqs-block-content">
  <div class="image-block-outer-wrapper layout-caption-below ">

    <div class="intrinsic" style="max-width:620.0px;">

        <div class="" data-description="">
          <noscript>&lt;img src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1446e4b0a4907f963672/1398674503945/tanker+logo.jpg"  alt="tanker logo.jpg"  /&gt;</noscript><img class="thumb-image" alt="tanker logo.jpg" data-src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1446e4b0a4907f963672/1398674503945/tanker+logo.jpg" data-image="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1446e4b0a4907f963672/1398674503945/tanker+logo.jpg" data-image-dimensions="620x256" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="535e1446e4b0a4907f963672" data-type="image" src="http://static.squarespace.com/static/52b7370ae4b08fdf3635e468/t/535e1446e4b0a4907f963672/1398674503945/tanker+logo.jpg">
        </div>




    </div>

  </div>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1397603338441_30331"><div class="sqs-block-content"><h2><strong><span><span style="font-size:15px">Tanker</span></span></strong></h2><p><a href="/venue/7608-alhambra-theater-lounge">- View Shows</a></p><p><span><a href="http://www.tankerbar.com/"><span style="font-size:15px">http://www.tankerbar.com/</span></a></span></p><p><span><span style="font-size:15px">4825 SE Hawthorne Blvd.</span></span></p><p><span><span style="font-size:15px">This cozy bar at the edge of Hawthorne Boulevard hosts an ongoing open <span>mic</span> all four days of the <span>fest</span>. We’ve seen our share of ridiculous antics at the Tanker in Bridgetowns past. When in doubt, pop in to the Tanker—you never know just who will drop in, or just how crazy it will get!</span></span></p></div></div></div>
</div>


