{{page-title-banner title=model.Name}}

<div class="container single-performer main-content">
  <div class="row">

    <div class="col-sm-12">
      <p>
        {{{ googleMapLink address }}}
      </p>

      <ul class="list-group">
        <li class="list-group-item active" style="background:#695b53;">
        <h4 class="list-group-item-heading" style="background:#695b53;color:white">Shows</h4>
        </li>
        {{#each event in events}}
          {{view "schedule-list-item" context=event}}
        {{else}}
          <li class="list-group-item">No shows scheduled yet...</li>
        {{/each}}

      </ul>
      <p>
        {{#link-to "venues"}}← All Venues{{/link-to}}
      </p>
    </div>
  </div>
</div>





