
  <div class="jumbotron jumbotron-minor jumbotron-color-1  jumbotron-page-header">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>Page Not Found</h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

  <div class="container main-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="">
          <h2>The page cannot be found...</h2>
          <p>Perhaps you are here because:</p>
          <ul>
            <li>The page has moved</li>
            <li>The page no longer exists</li>
            <li>You were looking for your puppy and got lost</li>
            <li>You like 404 pages</li>
          </ul>
          <p><a class="btn btn-block btn-primary" href="/">Return to homepage </a></p>
        </div>
      </div>
    </div>
  </div>
