<div id="wrap">
  {{partial "partials/header"}}

  {{!-- <div rel="main" class='container'> --}}
  <div class="main">
    <div class="container">
      <div class="row">
        {{outlet "jumbotron"}}
      </div>
    </div>
  {{outlet}}
  </div>
  <div id="push"></div>
</div>

{{partial "partials/footer"}}


<!-- MODAL FOR CONTACT -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          contact us
        </h4>
      </div>
      <div class="modal-body">
        <div class="row centered">
            <p>We are available 24/7, so don't hesitate to contact us.</p>
            <p>
              Somestreet Ave, 987<br/>
              London, UK.<br/>
              +44 8948-4343<br/>
              hi@blacktie.co
            </p>
            <div id="mapwrap">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
