 <div class="row"> <div class="jumbotron jumbotron-default">
 {{!--    <h1 class="text-center">Loading...</h1> --}}
   <div class="container main-content">
    <h1 class="text-center">Loading...</h1>
      <h2>&nbsp;</h2>
      <h1>{{x-spinner lines=12 radius=10 length=10 shadow=false color="#333" width=3}}</h1>
      <h2>&nbsp;</h2>
    </div>
  </div>
</div>