<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bridgetown Comedy Festival 2015</title>
  <meta property="og:site_name" content="Bridgetown Comedy Festival"/>
  <meta property="og:title" content="{{ page.title }} - Bridgetown Comedy Festival"/>
  <meta property="og:url" content="http://ghpages.bridgetowncomedy.com{{page.url}}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="{{ page.content }}"/>
  <meta property="og:image" content="http://ghpages.bridgetowncomedy.com{{page.featuredimage}}" />
  <meta itemprop="name" content="Bridgetown Comedy Festival"/>
  <meta itemprop="url" content="http://ghpages.bridgetowncomedy.com/"/>
  <meta itemprop="description" content="{{ page.content }}"/>
  <meta itemprop="thumbnailUrl" content="http://ghpages.bridgetowncomedy.com{{page.featuredimage}}"/>
  <link rel="image_src" href="http://ghpages.bridgetowncomedy.com{{page.featuredimage}}" />
  <meta itemprop="image" content="http://ghpages.bridgetowncomedy.com{{page.featuredimage}}"/>
  <meta name="description" content="{{ page.content }}" />
  <meta name="viewport" content="width=device-width">
  <link href="//fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700" rel="stylesheet" type="text/css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css" />
</head>