
<div class="newspost" style="margin-top:50px;">
  <div class="newspost-content">
    <p>Submissions for the 2015 Bridgetown Comedy Festival, taking place May 7 - 10, are now closed. Thanks to everyone who submitted. We're hunkering down for a couple of weeks to look over all the great comedy you sent our way and looking forward to putting together an incredible lineup for this year's fest!</p>
  </div>
</div>





