{{!-- Mail Chimp (1)
Kill Rock Stars (1)
Comedy Central (2)
Comedy Dynamics (2) --}}

<div id="lg">
  <div class="container sponsors-container text-center">
    <h2>SPONSORED BY</h2>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <a target="_blank" href="http://mailchimp.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-mailchimp-long.png?1" alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <a target="_blank" href="http://www.killrockstars.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-krs.png?1" alt=""></a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <a target="_blank" href="http://www.cc.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-comedy-central-long.png" alt=""></a>
      </div>
      <div class="col-xs-6">
        <a target="_blank" href="http://www.nwe.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-comedy-dynamics-long.png?1" alt=""></a>
      </div>
    </div>
  </div><!-- container -->
</div>