{{page-title-banner title="Page Not Found"}}

  <div class="container main-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="">
          <h2>The page cannot be found...</h2>
          <p>Perhaps you are here because:</p>
          <ul>
            <li>The page has moved</li>
            <li>The page no longer exists</li>
          </ul>
          <p><a class="btn btn-block btn-primary" href="/">Return to homepage </a></p>
        </div>
      </div>
    </div>
  </div>
