  <div class="jumbotron jumbotron-minor jumbotron-color-1  jumbotron-page-header">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>Saturday Schedule</h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

<div class="container main-content">
{{!--       <p><button type="button" class="btn btn-default" {{action "filterGrid"}}><i class="fa fa-th"></i> Show Grid View</button>
      <button type="button" class="btn btn-default" {{action "filterList"}}><i class="fa fa-list"></i> Show List View</button></p> --}}
  <div id="schedules" {{bind-attr class="scheduleClass"}}>
  {{partial "schedule_table_saturday"}}
  </div>
</div>





