

{{page-title-banner title="Sponsors"}}

<div class="container main-content sponsors-container text-center">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <a target="_blank" href="http://mailchimp.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-mailchimp-long.png?1" alt=""></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <a target="_blank" href="http://www.killrockstars.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-krs.png?1" alt=""></a>
    </div>
  </div>

  {{! Tier 2 }}
  <div class="row">
    <div class="col-xs-6">
      <a target="_blank" href="http://www.cc.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-comedy-central-long.png" alt=""></a>
    </div>
    <div class="col-xs-6">
      <a target="_blank" href="http://www.nwe.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-comedy-dynamics-long.png?1" alt=""></a>
    </div>
  </div>

  {{! Tier 3 }}

  <div class="row">
    <div class="col-xs-3">
      <a target="_blank" href="http://www.portlandmercury.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-mercury.png?1" alt=""></a>
    </div>
    <div class="col-xs-3">
      <a target="_blank" href="http://www.yelp.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-yelp.png" alt=""></a>
      </div>
    <div class="col-xs-3">
      <a target="_blank" href="http://www.gilgameshbrewing.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-gilgamesh-brewing.png" alt=""></a>
    </div>
    <div class="col-xs-3">
      <a target="_blank" href="http://www.newdealdistillery.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-new-deal-logo.png" alt=""></a>
    </div>
  </div>
  <div class="row">
    {{! Tier 4 }}
    <div class="col-xs-3">
      <a target="_blank" href="http://groundkontrol.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-ground-kontrol.png" alt=""></a>
    </div>
    <div class="col-xs-3">
      <a target="_blank" href="http://www.bendistillery.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-crater-lake.png" alt=""></a>
    </div>
    <div class="col-xs-3">
      <a target="_blank" href="http://zachsshack.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-zachs-shack.png" alt=""></a>
    </div>
    <div class="col-xs-3">
      <a target="_blank" href="http://pdxpipeline.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-pdxpipeline.png" alt=""></a>
    </div>
  </div>
  <div class="row">
    {{! Tier 5 }}
    <div class="col-xs-2">
      <a target="_blank" href="http://voodoodoughnut.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-voodoo.png" alt=""></a>
    </div>
    <div class="col-xs-2">
      <a target="_blank" href="http://www.commonsbrewery.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-commons-brewing.png" alt=""></a>
    </div>
    <div class="col-xs-2">
      <a target="_blank" href="http://shanrockstrivia.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-shanrock.png" alt=""></a>
    </div>
    <div class="col-xs-2">
      <a target="_blank" href="http://funemploymentradio.com"><img class="img-responsive" src="/img/sponsor-images/sponsor-funemployment.png" alt=""></a>
    </div>
    <div class="col-xs-2">
      <a target="_blank" href="http://www.cookiepedalers.com/"><img class="img-responsive" src="/img/sponsor-images/sponsor-cookie-pedalers.png?1" alt=""></a>
    </div>


  </div><!-- row -->
</div><!-- container -->
