  <div class="jumbotron jumbotron-minor jumbotron-color-1  jumbotron-page-header">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>Friday Schedule</h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

<div class="container main-content">
  <div id="schedules" {{bind-attr class="scheduleClass"}}>
  {{partial "partials/schedule_table_friday"}}
  </div>
</div>





