  <div class="jumbotron jumbotron-minor jumbotron-color-1  jumbotron-page-header">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>{{{ title }}}</h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->